{% embed 'partials/base.html.twig' %}

    {% block content %}
        {{ content }}
    {% endblock %}

    {% block sidebar %}
        {% for partial in header.sidebar %}
            {{ page.find(partial.route).content }}
        {% endfor %}
    {% endblock %}

    {% block featureboxes %}
        {% set boxes = page.find('/_partials/_feature-boxes') %}
        <section class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3>{{ boxes.name1 }}</h3>
                        <a class="btn btn-secondary" href="{{ boxes.url1 }}">Learn More</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>{{ boxes.name2 }}</h3>
                        <a class="btn btn-secondary" href="{{ boxes.url2 }}">Learn More</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>{{ boxes.name3 }}</h3>
                        <a class="btn btn-secondary" href="{{ boxes.url3 }}">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

{% endembed %}
