{% embed 'partials/base.html.twig' %}

    {% block content %}
        <section class="container">
            <div class="content top">
                <div class="row">
                    <div class="col-md-8 pr-sm-4 pr-md-8">
                        <h1>{{ header.title }}</h1>
                        {{ content }}
                        <p><a class="btn btn-secondary" href="/pricing">Sign Up Today <em class="fa fa-sm fa-play" aria-hidden="true"></em></a></p>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            
                            <section class="section">
                            <h2>License Requirements</h2>
                            {{ header.licenserequirements }}
                            </section>

                            <section class="section">
                            <h2>Training Exam Requirements</h2>
                            {{ header.examrequirements }}
                            </section>

                            <section class="section">
                            <h2>Contact Information</h2>
                            {{ header.contactinformation }}
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

{% endembed %}