{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="nav-item {{ current_page }} {% if p.children.visible.count > 0 %}submenu{% endif %}">
            <a class="nav-link {% if p.children.visible.count > 0 %}submenu mobile-expand{% endif %}" href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul class="submenu-menu">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul class="navbar-nav mr-auto navigation">
    {{ _self.loop(pages) }}
</ul>
